<div class="container mt-5" style="height: 67vh;">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <form class="row  formcont g-3" action="" method="post">
        <div class=" col-md-12 mx-auto">
            <center><button class=" stroke bg-light mb-2"><h2>STROKE</h2></button><br></center>
        </div>
        <div class="col-md-12 mx-auto">
            <center><button class="adminlogin"><h1 class="regHeadText">ADMIN LOGIN</h1></button></center>
        </div>
        <div class="row">
          <div class="col-12 mt-3 mb-1">
            <center><p class="text-danger">{{message}}</p></center>
          </div>
        </div>
        <div class="col-md-12">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" required name="email" class="form-control" id="inputEmail4" />
        </div>
        <div class="col-md-12">
          <label for="inputPassword4"  class="form-label">Password</label>
          <input type="password" name="password" class="form-control" required id="inputPassword4" />
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary subButton">Login</button>
        </div>
      </form>
      <div style="width: 300px;">

      </div>
    </div>
  </div>
</div>