<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <form class="row  formcont g-3" action="" method="post">
        <div class=" col-md-12 mx-auto">
            <button class=" stroke bg-light mb-2"><h2>STROKE</h2></button><br>
        </div>
        <div class="col-md-12">
          <label for="inputOTP4" class="form-label">Enter your mail id here</label><br>
          <p class="text-danger">{{message}} </p>
          <input type="email" name="email" class="form-control" id="inputemail4" />
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary subButton">submit</button>
          {{!-- <button type="submit" class="btn btn-primary subButton"><a style="text-decoration: none; color: azure;" href="#">Resend</a></button> --}}
        </div>
      </form>
    </div>
  </div>
</div>