<div class="site-wrap">
    <div class="site-blocks-cover" style="background-image:url(https://images.unsplash.com/photo-1624193757636-b829dfa06a1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1248&q=80)" data-aos="fade">
      <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-end">
          <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
            <h1 class="mb-2 cricketGear text-light">Finding Your Perfect Cricket Gears</h1>
            <div class="intro-text text-center text-md-left">
              <p class="mb-4 text-light cricketGear">The best gears will give you great advantage.We are here for you to provide the best gear.<strong>Get your weapon and armors. Get ready for the battle</strong></p>
              <p>
                <a href="/shop" class="btn btn-sm btn-primary">Shop Now</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section site-section-sm site-blocks-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
             <span><i class="fa-solid fa-truck-fast"></i></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Shipping</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
                tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <spa><i class="fa-solid fa-arrows-spin"></i></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Free Returns</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
                tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span><i class="fa-regular fa-envelope"></i></span>
            </div>
            <div class="text">
              <h2 class="text-uppercase">Customer Support</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
                tincidunt fringilla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section site-blocks-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
            <a class="block-2-item" href="#">
              <figure class="image">
                <img style="height: 65vh;" src="https://bsmedia.business-standard.com/_media/bs/img/article/2020-09/05/full/1599323389-3495.jpg" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">Collections</span>
                <h3>Batsman</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <a class="block-2-item" href="#">
              <figure class="image">
                <img style="height: 65vh;" src="https://static.wixstatic.com/media/ae938a_97bd17909567409bae570985553085de~mv2.jpg/v1/crop/x_0,y_65,w_735,h_898/fill/w_640,h_784,al_c,q_90,enc_auto/20777696082_228b106ea7_o.jpg" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">Collections</span>
                <h3>Bowler</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <a class="block-2-item" href="#">
              <figure class="image">
                <img style="height: 65vh;" src="https://images.news18.com/ibnlive/uploads/2022/08/sydr5w4benujkhrqbwd2ot-1200-801.jpg" alt="" class="img-fluid">
              </figure>
              <div class="text">
                <span class="text-uppercase">Collections</span>
                <h3>Others</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section block-3 site-blocks-2 bg-light">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Featured Products</h2>
            </div>
            </div>
            <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                <a class="block-2-item" href="#">
                <figure class="image">
                    <img style="height: 50vh;" src="https://www.sportsuncle.com/image/cache/catalog/images/gray-nicolls/prestige-85-cricket-bat-full-1200x1200.webp" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <h3>Grey-Nicolas prestige 8.5</h3>
                    <h4 class="text-success">USD.32,000</h4>
                </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                <a class="block-2-item" href="#">
                <figure class="image">
                    <img style="height: 50vh;" src="https://m.media-amazon.com/images/I/81ps7W3hf-L._SL1500_.jpg" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <h3>SG RSD Prolight</h3>
                    <h4 class="text-success">USD.2,000</h4>
                </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                <a class="block-2-item" href="#">
                <figure class="image">
                    <img style="height: 50vh;" src="https://www.worldcricketstore.com/acatalog/NB22CSCK4040zm.jpg" alt="" class="img-fluid">
                </figure>
                <div class="text">
                    <h3>New Balance CK4040R5</h3>
                    <h4 class="text-success">USD.5,300</h4>
                </div>
                </a>
            </div>
            </div>
        </div>
      </div>
    </div>

    <div class="site-section block-8">
      <div class="container">
        <div class="row justify-content-center  mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>Big Sale!</h2>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-7 mb-5">
            <a href="#"><img src="https://www.deluxsports.com/images/brands/dsc.jpg" alt="Image placeholder" class="img-fluid rounded"></a>
          </div>
          <div class="col-md-12 col-lg-5 text-center pl-md-5">
            <h2><a href="#">35% less in all DSC items</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis
              ipsum animi deleniti fugiat. Ex, veniam?</p>
            <p><a href="#" class="btn btn-primary btn-sm">Shop Now</a></p>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <center><h2 class="text-dark" >ABOUT US</h2></center>
          </div>
          <div>
            <center><p class="text-dark " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis
              ipsum animi deleniti fugiat. Ex, veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
                tincidunt fringillaLorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis ipsum animi deleniti fugiat. Ex, veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis ipsum animi deleniti fugiat. Ex, veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis ipsum animi deleniti fugiat. Ex, veniam?</p></center>
          </div>
           <div class=" col-md-12 mx-auto">
            <center><button class=" stroke bg-light mb-2" style="width: 20vh;"><h3 style="font-size:25px ;">STROKE</h3></button><br></center>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-5 mb-5">
                <h3 class="footer-heading mb-4">Contact Info</h3>
                <ul class="list-unstyled">
                    <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                    <li class="phone"><a href="tel://23923929210">+91 392 3929 210</a></li>
                    <li class="email">emailaddress@domain.com</li>
                </ul>
                </div>
            </div>
            </div>
        </div>
      </div>
    </footer>
  </div>
