<div class="container mt-5;">
  <div class="row">
    <div class="col-md-3 mx-auto">
        <div class=" col-md-12 mx-auto">
            <center><button class=" stroke bg-light mb-2"><h2>STROKE</h2></button><br></center>
        </div>
        <div class="col-md-12 mx-auto mt-5">
           <h3 class="regHeadText text-dark">Enter your OTP</h3>

        </div>
        <center><button class="loginbutton" style="border: 0ch;width: 50px;"><a href="/login" >login</a></button></center>
    </div>
  </div>
</div>